* {
  margin: 0;
  padding: 0;
}

header {
  background-image: url(../img/funeral.avif);
  background-size: cover;
  height: 600px;
  margin-top: 0;
}
header ul {
  list-style: none;
}

header ul li {
  display: inline;
}
header h2 {
  background-color: yellow;
  margin: 200px auto;
  display: flexbox;
}
